<form #form="ngForm" (submit)="onSubmit(form)" [class.submitted]="service.formSubmitted" novalidate autocomplete="off">
    <input type="hidden" name="id" [value]="service.formData.id">
    <div class="mb-3">
      <label>Category Name</label>
      <input class="form-control form-control-lg" placeholder="Category Name" #categoryName="ngModel" name="categoryName"
        [(ngModel)]="service.formData.categoryName" required>
    </div>
    <div class="mb-3">
      <label>Category Desription</label>
      <input class="form-control form-control-lg" placeholder="Category Description" #description="ngModel"
        name="description" [(ngModel)]="service.formData.categoryDescription" required>
    </div>
  
  
    <div class="d-grid">
      <button class="btn btn-lg btn-success" type="submit">
        Add Category
      </button>
    </div>
  
  </form>