<div class="mt-3 bg-body-secondary text-center py-5 rounded-2">
    <h1 class="dispay-6 fw-bold">Category Details</h1>
</div>  
<div class="row mt-5">
    <div class="col-6">
        <app-category-form />
    </div>
    <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start mb-2 border px-4 py-3 rounded-3" *ngFor="let ctgr of service.list">
                <div class="flex-grow-1 mouse-hover" (click)="populateForm(ctgr)">
                    <div>{{ctgr.categoryName}}</div>
                    <div>{{ctgr.categoryDescription}}</div>
                </div>
                <span class="text-secondary">
                    <i class="fa-solid fa-trash-can fa-lg mouse-hover" (click)="onDelete(ctgr.id)"></i>
                </span>
            </li>
        </ul>
    </div>
</div>